<!doctype html>
%title
%meta{content: "width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1, user-scalable=no", name: "viewport"}
%meta{content: "yes", name: "apple-mobile-web-app-capable"}
%meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}
%script{defer: "", src: "dist/application.js"}
%style
  = include_file "src/application.css"

%header
  %select{name: "frequency"}
%article.buttonArea
  #playButton.playButton
    #playButton-label.playButton-label.isPause
      %img.playButton-label-play{alt: "play", src: "images/font-awesome_4-7-0_play_512_0_000000_none.png"}
      %img.playButton-label-pause{alt: "pause", src: "images/font-awesome_4-7-0_pause_512_0_000000_none.png"}
  / dummy audio to play sound when silent mode enabled
  %audio{src: "dummy.m4a"}

